<!DOCTYPE html>
<html lang="<%=session[:locale] || 'es'%>">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%=page.title%></title>
  <meta name="description" content="<%=page.description%>">
  <meta name="keywords" content="<%=page.keywords%>">
  <meta name="summary" content="<%=page.summary%>">
  <% if page.canonical_url %>
  <link rel="canonical" href="<%=page.canonical_url%>">
  <% end %>
  
  <!-- Open Graph -->
  <meta property="og:title" content="<%=page.title%>">
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%=page.description%>">
  <!--meta property="og:url" content=""-->
  <meta property="og:locale" content="<%=session[:locale] || 'es'%>">  

  <!-- JS -->
  <script type="text/javascript" src="/rentit/js/require.min.js"></script>
  <script type="text/javascript" src="/rentit/js/built.js"></script>

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="/rentit/css/style-public.css">
  <link type="text/css" rel="stylesheet" href="/rentit/css/style-public-theme.css">
  {% if !theme_color_scheme.nil? && !(theme_color_scheme.empty?) %}
  <link type="text/css" rel="stylesheet" href="/rentit/css/theme-{{theme_color_scheme}}.css">
  {% endif %}
  <link type="text/css" rel="stylesheet" href="/rentit/css/style-public-theme-extension.css">

  <% if !page.styles_source.nil? && !page.styles_source.empty? %>
    <%= page.styles_source %>
  <% end %>

  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,300">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:700,800,900,400,300">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800">

  <style type="text/css">

    {% if css_header_background %}
    .header .header-wrapper {
      background-color: {{ css_header_background }};
    }
    {% endif %}

    {% if css_menu_item_color %}
      .sf-menu a {
        color: {{ css_menu_item_color }};
      }
    {% endif %}

    {% if css_menu_item_hover_color %}
      .sf-menu a:hover,
      .sf-menu li:hover,
      .sf-menu li.sfHover,
      .sf-menu li.sfHover > a,
      .sf-menu li.active,
      .sf-menu li.active > a {
        color: {{ css_menu_item_hover_color }};
      }
    {% endif %}

    {% if css_menu_top_hover_color %}
      .sf-menu.nav > li > a:hover:before,
      .sf-menu.nav > li > a:focus:before {
        background-color: {{ css_menu_top_hover_color }};
      }
    {% endif %}

    {% if css_submenu_background %}
    .sf-menu ul li {
      background: {{ css_submenu_background }};
    }
    {% endif %}

    {% if css_fixed_logo_sticky %}
    .is-sticky .logo img {
      height: auto;
      max-width: 100%;
    }
    {% endif %}

  </style>

  <!-- Head Libs -->
  <!--script src="/rentit/js/modernizr.custom.js"></script-->

  <!--[if lt IE 9]>
  <script src="/rentit/js/iesupport/html5shiv.js"></script>
  <script src="/rentit/js/iesupport/respond.min.js"></script>

  <![endif]-->
</head>
<body id="home" class="wide">

<!-- WRAPPER -->
<div class="wrapper">

  <%= partial :loader %>

  <!-- Modal -->
  <div class="modal fade" id="bs_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Basic Modal</h4>
        </div>
        <div class="modal-body">
          <h3>Modal Body</h3>
        </div>
      </div>
    </div>
  </div>


  {% unless embedded == true %}
  <!-- HEADER -->
  <header class="header fixed">
    <div class="header-wrapper">
      <div class="container">

        <!-- Logo -->
        <div class="logo">
          <a href="<%=format_url_with_language('/')%>"><img src="<%=site_logo%>" alt="<%=site_title%>"/></a>
        </div>
        <!-- /Logo -->

        <!-- Mobile menu toggle button -->
        <a href="#" class="menu-toggle btn ripple-effect btn-theme-transparent"><i class="fa fa-bars"></i></a>
        <!-- /Mobile menu toggle button -->

        <!-- Navigation -->
        <nav class="navigation closed clearfix">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- navigation menu -->
              <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
              {{ primary_links_menu }}
              <!-- /navigation menu -->
            </div>
          </div>
          <!-- Add Scroll Bar -->
          <div class="swiper-scrollbar"></div>
        </nav>
        <!-- /Navigation -->

      </div>
    </div>
  </header>
  <!-- /HEADER -->
  {% endunless %}

  <!-- CONTENT AREA -->
  <div class="content-area">


    <!-- BREADCRUMBS -->
    {% unless home %}
    <% unless page.title.nil? || page.title.empty? %>
      <section class="page-section breadcrumbs text-center">
        <div class="container">
          <div class="page-header">
            <h1><%=page.title%></h1>
          </div>
        </div>
      </section>
    <% end %>
    {% endunless %}
    <!-- /BREADCRUMBS -->

    <!-- PAGE : Booking selector -->
    <% if (page.variables.has_key?(:booking_selector) and not page.variables[:booking_selector].empty?) %>
      <section class="booking-selector page-section dark">
        <div class="container">
          <%= page.variables[:booking_selector] %>
        </div>
      </section>
    <% end %>

    <!-- PAGE -->
    <section class="page-section">
      <div class="container">

        <%= partial :flash_messages %>
        <%= page.content %>

        <% if (page.variables.has_key?(:primary_links_menu) and not page.variables[:primary_links_menu].empty?) %>
          <%= page.variables[:primary_links_menu]%>
        <% end %>

      </div>
    </section>

  </div>
  <!-- /CONTENT AREA -->

  {% unless embedded == true %}
  <!-- FOOTER -->
  <footer class="footer">

    <div class="footer-meta">
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-4">
            <ul class="media-list contact-list">
              <li class="media">
                <div class="media-body"><strong>{{site_company_name}}</strong></div>
              </li>
              <li class="media">
                <div class="media-body">{{site_company_document_id}}</div>
              </li>
              <li class="media">
                <div class="media-left"><i class="fa fa-home"></i></div>
                <div class="media-body"><%=t.frontend_web.company.address%>: {{site_company_address_1}}</div>
              </li>
              {% if site_company_address_2 and site_company_address_2 != '.' and !site_company_address_2.empty? %}
              <li class="media">
                <div class="media-left"><i class="fa fa"></i></div>
                <div class="media-body">{{site_company_address_2}}</div>
              </li>
              {% endif %}
              <li class="media">
                <div class="media-left"><i class="fa fa-phone"></i></div>
                <div class="media-body"><%=t.frontend_web.company.phone_number%>: {{site_company_phone_number}}</div>
              </li>
              <li class="media">
                <div class="media-left"><i class="fa fa-envelope"></i></div>
                <div class="media-body"><%=t.frontend_web.company.email%>: {{site_company_email}}</div>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <div class="widget widget-categories">
              {{ secondary_links_menu }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="btn-row text-center">
              {% if site_company_facebook and site_company_facebook != '.' %}
              <a href="{{site_company_facebook}}" class="btn btn-theme btn-icon-left facebook"><i class="fa fa-facebook"></i>FACEBOOK</a>
              {% endif %}
              {% if site_company_twitter and site_company_twitter != '.' %}
              <a href="{{site_company_twitter}}" class="btn btn-theme btn-icon-left twitter"><i class="fa fa-twitter"></i>TWITTER</a>
              {% endif %}
              {% if site_company_instagram and site_company_instagram != '.' %}
              <a href="{{site_company_instagram}}" class="btn btn-theme btn-icon-left instagram"><i class="fa fa-instagram"></i>INSTAGRAM</a>
              {% endif %}
              {% if site_company_linkedin and site_company_linkedin != '.' %}
              <a href="{{site_company_linkedin}}" class="btn btn-theme btn-icon-left linkedin"><i class="fa fa-linkedin"></i>LINKEDIN</a>
              {% endif %}
            </p>
            <div class="copyright">&copy; {{year}} {{site_company_name}} - <%= t.frontend_web.powered_by_mybooking %></div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->

  <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>
  {% endunless %}
</div>
<!-- /WRAPPER -->

<!-- JS Page Level -->
<script src="/rentit/js/theme.js"></script>

<% if !page.scripts_source.nil? && !page.scripts_source.empty? %>
  <%= page.scripts_source %>
<% end %>

</body>
</html>
