<!-- PAGE WITH SIDEBAR -->
<section class="page-section with-sidebar sub-page">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <h2 class="text-center"><%=@booking.customer_name%> <%=@booking.customer_surname%>, <strong><%=t.front_end_reservation.booking_detail_title("#{t[:front_end_reservation][:booking_detail_state][@booking.status.to_sym]}").to_s.downcase%></strong></h2>

      </div>
    </div>

    <div class="row">
      <!-- CONTENT -->
      <div class="col-md-8 content" id="content">

        <!-- PRODUCT(S) INFORMATION -->
        <h3 class="block-title alt">
          <i class="fa fa-angle-down"></i><%=t.front_end_reservation.booking_detail_product_title%>
        </h3>

        <% @booking.booking_lines.each do |booking_item| %>
        <% product = ::Yito::Model::Booking::BookingCategory.get(booking_item.item_id) %>
        <div class="car-big-card alt">
          <div class="row">
            <div class="col-md-12">
              <div>
                <div class="item">
                  <img class="img-responsive" style="display: block; margin: 0 auto;" src="<%= product.photo_url_full %>" alt=""/>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="car-details">
                <div class="block-title">
                  <h2 style="text-align:center"><%=booking_item.item_description_customer_translation%></h2>
                </div>
                <div class="price" style="text-align:right">
                  <%if booking_item.quantity > 1%>
                      <small><%=booking_item.quantity%> x <%='%.2f' % booking_item.item_unit_cost%>€</small> &nbsp; &nbsp;
                  <% end %>
                  <strong><%='%.2f' % booking_item.item_cost%></strong>€ <i class="fa fa-info-circle"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <hr class="page-divider half transparent"/>
        <!--/PRODUCT(S) INFORMATION -->

        <!--EXTRAS INFORMATION -->
        <% if @booking.booking_extras.size > 0 %>
        <h3 class="block-title alt">
          <i class="fa fa-angle-down"></i><%=t.front_end_reservation.booking_detail_extras_title%>
        </h3>
        <div class="car-big-card alt">
          <div class="row">
            <% @booking.booking_extras.each do |booking_extra| %>
            <div class="col-md-12">
               <div class="car-details">
                  <div class="block-title">
                     <h2 style="text-align:center"><%=booking_extra.extra_description_customer_translation%></h2>
                  </div>
                  <div class="price" style="text-align:right">
                    <%if booking_extra.quantity > 1%>
                    <small><%=booking_extra.quantity%> x <%='%.2f' % booking_extra.extra_unit_cost%>€</small> &nbsp; &nbsp;
                    <% end %>
                    <strong><%='%.2f' % booking_extra.extra_cost%></strong>€ <i class="fa fa-info-circle"></i>
                  </div>
               </div>
            </div>
            <% end %>
          </div>
        </div>
        <hr class="page-divider half transparent"/>
        <% end %>

        <!-- CUSTOMER INFORMATION -->
        <h3 class="block-title alt">
          <i class="fa fa-angle-down"></i><%=t.front_end_reservation.booking_detail_customer_title%>
        </h3>

        <div class="form-delivery">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-control alt">
                  <strong><%=t.front_end_reservation.booking_detail_customer_name%></strong>
                  <div><%=@booking.customer_name%> <%=@booking.customer_surname%></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-control alt">
                  <strong><%=t.front_end_reservation.booking_detail_customer_email%></strong>
                  <p><%=@booking.customer_email%></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-control alt">
                  <strong><%=t.front_end_reservation.booking_detail_customer_phone_number%></strong>
                  <p><%=@booking.customer_phone%> <%=@booking.customer_mobile_phone%></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--/CUSTOMER INFORMATION -->

      </div>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside class="col-md-4 sidebar" id="sidebar">
        <!-- widget detail reservation -->
        <div class="widget shadow widget-details-reservation">
          <div id="reservation_detail">

            <h4 class="widget-title"><%=t.front_end_reservation.reservation_summary_title%></h4>
            <div class="widget-content">
              <h5 class="widget-title-sub"><%=t.front_end_reservation.reservation_summary_pickup%></h5>
              <div class="media">
                <span class="media-object pull-left"><i class="fa fa-calendar"></i></span>
                <div class="media-body"><p><%=SystemConfiguration::Settings.instance.format_date(@booking.date_from, :full, session[:locale])%> / <%=@booking.time_from%></p></div>
              </div>
              <div class="media">
                <span class="media-object pull-left"><i class="fa fa-location-arrow"></i></span>
                <div class="media-body"><p><%=@booking.pickup_place_customer_translation%></p></div>
              </div>
              <h5 class="widget-title-sub"><%=t.front_end_reservation.reservation_summary_return%></h5>
              <div class="media">
                <span class="media-object pull-left"><i class="fa fa-calendar"></i></span>
                <div class="media-body"><p><%=SystemConfiguration::Settings.instance.format_date(@booking.date_to, :full, session[:locale])%> / <%=@booking.time_to%></p></div>
              </div>
              <div class="media">
                <span class="media-object pull-left"><i class="fa fa-location-arrow"></i></span>
                <div class="media-body"><p><%=@booking.return_place_customer_translation%></p></div>
              </div>
              <h5 class="widget-title-sub"><%=t.front_end_reservation.reservation_summary_price%></h5>
              <div class="list">
                <ul>
                  <li><%=t.front_end_reservation.reservation_summary_total_product%>: <span class="pull-right"><%='%.2f' % @booking.item_cost%>€</span></li>
                  <% if @booking.extras_cost > 0 %>
                  <li><%=t.front_end_reservation.reservation_summary_total_extras%>: <span class="pull-right"><%='%.2f' % @booking.extras_cost%>€</span></li>
                  <% end %>
                  <% if @booking.time_from_cost > 0 %>
                  <li><%=t.front_end_reservation.reservation_summary_pickup_time_supplement%>: <span class="pull-right"><%= '%.2f' % @booking.extras_cost%>€</span></li>
                  <% end %>
                  <% if @booking.time_from_cost > 0 %>
                  <li><%=t.front_end_reservation.reservation_summary_pickup_place_supplement%>: <span class="pull-right"><%='%.2f' % @booking.pickup_place_cost%>€</span></li>
                  <% end %>
                  <% if @booking.time_to_cost > 0 %>
                  <li><%=t.front_end_reservation.reservation_summary_return_time_supplement%>: <span class="pull-right"><%='%.2f' % @booking.time_to_cost%>€</span></li>
                  <% end %>
                  <% if @booking.time_from_cost > 0 %>
                  <li><%=t.front_end_reservation.reservation_summary_return_place_supplement%>: <span class="pull-right"><%='%.2f' % @booking.return_place_cost%>€</span></li>
                  <% end %>
                  <% if total_cost_includes_deposit %>
                      <% if @booking.total_deposit > 0 %>
                          <li><%=t.front_end_reservation.reservation_summary_deposit%>*: <span class="pull-right"><%='%.2f' % @booking.total_deposit%>€</span></li>
                      <% end %>
                  <% end %>
                  <li><strong><%=t.front_end_reservation.reservation_summary_total%>:</strong> <span class="pull-right"><strong><%='%.2f' % @booking.total_cost%>€</strong></span></li>
                  <li><%=t.front_end_reservation.booking_detail_summary_paid%>: <span class="pull-right text-primary"><%='%.2f' % @booking.total_paid%>€</span></li>
                  <% if @booking.total_pending > 0 %>
                  <li><%=t.front_end_reservation.booking_detail_summary_pending%>:<span class="pull-right text-danger"><strong><%='%.2f' % @booking.total_pending%>€</strong></span></li>
                  <% end %>
                  <% if !total_cost_includes_deposit %>
                      <% if @booking.total_deposit > 0 %>
                          <hr>
                          <li><%=t.front_end_reservation.reservation_summary_deposit%>*: <span class="pull-right"><%='%.2f' % @booking.total_deposit%>€</span></li>
                      <% end %>
                  <% end %>
                  <% if @booking.total_deposit > 0 %>
                  <li><small>* <%=t.front_end_reservation.reservation_summary_deposit_detail%></small></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /widget detail reservation -->
        <!-- widget helping center -->
        <div class="widget shadow widget-helping-center" style="display: none">
          <h4 class="widget-title">Atención al cliente</h4>
          <div class="widget-content">
            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>
            <h5 class="widget-title-sub">+34 666 10 10 10</h5>
            <p><a href="mailto:support@mybooking.es">support@mybooking.es</a></p>
          </div>
        </div>
        <!-- /widget helping center -->
      </aside>
      <!-- /SIDEBAR -->
    </div>
  </div>
</section>
<!-- /PAGE WITH SIDEBAR -->